<section class="card mb-2">
  <div class="dashboard-post-header p-2 color-bg-primary">
    <span class="">Posted by {{username}}  ·  {{format_date created_at}}</span>
  </div>
  <div class="position-relative">
    <p class="p-2 post-comment">{{comment_text}}</p>
  </div>
</section>
