
<div class="my-2">
  <section class="d-flex flex-column align-items-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="d-flex flex-row mb-4">
        <h2 class="pageTitle d-flex align-items-center mb-0 mr-2"><span>Home</span></h2>
        {{#if loggedIn}}
        <a class="btn p-1 d-flex align-items-center" href="/posts/create"><span>Create Post</span></a>
        {{/if}}
      </div>
      {{#if posts.length}}
      <div class="">
        <h2 class="">Top 50 New Posts</h2>
        <ul>
          {{#each posts as |post|}}
          <li>
            {{> postPartial post}}
          </li>
          {{/each}}
        </ul>
      </div>
      {{else}}
      <div class="">
        <h2 class="">Oops, no posts found.</h2>
      </div>
      {{/if}}
    </div>
  </section>
</div>

{{!-- {{#unless loggedIn}}
<script src="/js/loginReq.js"></script>
{{/unless}} --}}